* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.animation-title {
  position: absolute;
  right: -500px;
  transition: all 1s ease-out;
}

@media (max-width: 1024px) {
  .animation-title {
    right: -400px;
  }
}

@media (max-width: 800px) {
  .animation-title {
    right: -300px;
  }
}

@media (max-width: 600px) {
  .animation-title {
    right: -250px;
  }
}

@media (max-width: 500px) {
  .animation-title {
    right: -200px;
  }
}

@media (max-width: 400px) {
  .animation-title {
    right: -150px;
  }
}
